<script lang="ts" setup>
import { ref } from "vue";

const num = ref(0);
const addNum = (num: number) => {
  numList.value.splice(0, numList.value.length);
  for (let i = 1; i <= num; i++) {
    numList.value.push(i);
  }
};

const numList = ref<number[]>([]);
</script>

<template>
  <v-container>
    <v-text-field
      v-model="num"
      filled
      label="Please input Number"
      clearable
      :rules="[(v) => !!v || 'Number is Empty']"
      required
      :oninput="addNum(num)"
      type="number"
    ></v-text-field>
    <v-row>
      <v-col cols="12" md="1" v-for="item in numList" :key="item"
        >{{ item }}
      </v-col>
    </v-row>
  </v-container>
</template>
