<script lang="ts" setup>
//finish
import { ref } from "vue";
const emoImg = ref("feeling_imgs/smile.png");
const emo = ref("Smile");
function callSmile() {
  emo.value = "Smile";
  emoImg.value = "feeling_imgs/smile.png";
}
function callCute() {
  emo.value = "Cute";
  emoImg.value = "feeling_imgs/cute.png";
}
function callAngry() {
  emo.value = "Angry";
  emoImg.value = "feeling_imgs/angry.png";
}
function callShock() {
  emo.value = "Shock";
  emoImg.value = "feeling_imgs/shocked.png";
}
function callExcited() {
  emo.value = "Excited";
  emoImg.value = "feeling_imgs/excited.png";
}
function callPain() {
  emo.value = "Pain";
  emoImg.value = "feeling_imgs/pain.png";
}
</script>
<template>
  <v-container>
    <v-row class="ma-16">
      <v-col cols="6">
        <v-img :src="emoImg" width="70%" cover></v-img>
      </v-col>
      <v-col cols="6">
        <div class="center">
          <h1>{{ emo }}</h1>
        </div>
        <v-btn block @click="callSmile" height="60px" class="ma-4"
          ><h2>Smile</h2></v-btn
        >
        <v-btn block @click="callCute" height="60px" class="ma-4"
          ><h2>Cute</h2></v-btn
        >
        <v-btn block @click="callAngry" height="60px" class="ma-4"
          ><h2>Angry</h2></v-btn
        >
        <v-btn block @click="callShock" height="60px" class="ma-4"
          ><h2>Shock</h2></v-btn
        >
        <v-btn block @click="callExcited" height="60px" class="ma-4"
          ><h2>Excited</h2></v-btn
        >
        <v-btn block @click="callPain" height="60px" class="ma-4"
          ><h2>Pain</h2></v-btn
        >
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.center {
  margin: 20px;
  text-align: center;
}

button:focus {
  background: yellow;
}
</style>
